<main>
	<!--<app-diretiva-ngif></app-diretiva-ngif>-->
	<!--app-diretiva-ngswitch></app-diretiva-ngswitch-->
	<!--app-diretiva-ngfor></app-diretiva-ngfor-->
	<!--app-diretiva-ngclass></app-diretiva-ngclass-->
	<!--app-diretiva-ngstyle></app-diretiva-ngstyle-->
	<!--app-exemplo-ng-content>
		<app-diretiva-ngfor class="corpo"></app-diretiva-ngfor>
		<app-diretiva-ngstyle class="titulo"></app-diretiva-ngstyle>
	</app-exemplo-ng-content-->
	<app-diretivas-customizadas></app-diretivas-customizadas>
</main>
