<h3>Lista de Cursos</h3>
<p>Página {{ pagina }}</p>

<div class="collection" *ngFor="let curso of cursos">
		<a [routerLink]="['/cursos',curso.id]" class="collection-item">{{ curso.nome }}</a>
</div>

<ul class="pagination">
    <li class="waves-effect"><a (click)="proximaPagina(-1)"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a (click)="proximaPagina(1)">1</a></li>
    <li class="waves-effect"><a (click)="proximaPagina(2)">2</a></li>
    <li class="waves-effect"><a (click)="proximaPagina(3)">3</a></li>
    <li class="waves-effect"><a (click)="proximaPagina(0)"><i class="material-icons">chevron_right</i></a></li>
  </ul>
